---
import Layout from "../layouts/Layout.astro";
import AristocratSolver from "../components/AristocratSolver";

const publicPatternUrl = import.meta.env.PUBLIC_PATTERN_URL;
---

<Layout title="Aristocrat | Ciphered">
  <main class="container mx-auto px-4 py-8">
    <div class="mb-8">
      <h1 class="text-3xl font-bold text-gray-900">Aristocrats</h1>
      <!-- <p class="mt-2 text-gray-600">
        Solve monoalphabetic substitution ciphers with interactive tools
      </p> -->
    </div>

    <AristocratSolver client:load patternURL={publicPatternUrl} />
  </main>
</Layout>
